discord>=2.3.2
colorama>=0.4.6
PyYAML>=6.0.1
tinydb
pandas>=2.1.4
aiohttp
langchain-community
langchain
pydantic
ollama
paramiko
googlesearch-python
aiofiles>=24.1.0
aiosqlite>=0.20.0
whisper>=1.1.10
langchain-ollama>=0.2.3
sentence_transformers>=4.0.1
neo4j
trafilatura
lxml
hf_xet